
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */